%clearfix{
	content: "";
	display: block;
	clear: both;
}
*,*::before,*::after{
	box-sizing: border-box;
}
html{
	background-color: hsla(200, 0%, 15%, 1);
}
body{
	width: 65%;
	margin: 0 auto;
	background-color: white;
	padding: 10px;
	font-family: sans-serif;
	}
ul{
	list-style: none;
	margin: 0;
	padding: 0 0 0 30px;
}
li{
	line-height: 1;
	padding-bottom: 10px;
	font-size: 20px;
}
section{
	margin-bottom: 15px;
	&::before,&::after{
		@extend %clearfix;
	}

}
div{
	&:before,&:after{
		@extend %clearfix;
	}
}
h2{
	text-align: center;
	margin: 0;
	padding: 0;
	color: lightblue;
	white-space: nowrap;
	font-size: 18px;
	border-radius: 5px 5px 0 0;
	font-family: "new times roman"
} 

.rotate{
	position: relative;
	h2{
		background-color: teal;
		margin: 0;
		transform: rotate(-90deg);
		transform-origin: top right;
		top: 0;
		right: 100%;
		position: absolute;
		padding: 0;
	}
	ul{
		position: relative;
	}
}		
header{
	&::before,&::after{
		@extend %clearfix;
	}
	h1{
		font-size: 10vh;
		width: 50%;
		float: left;
		margin: 0;
		span{
			font-size: 15vh;
		}	
	}
	address{
		width: 50%;
		float: left;
		font-size: 35px;
		border-left-width: 10px;
		border-style: none none none solid;
		padding-left: 30px;
		height: 25vh;
	}
}
#first{
	ul{
		&::before,&::after{
			@extend %clearfix;
			width: 100%;
		}
		li{
			display: inline-block;
			width: 20%;
			font-size: 25px;
			text-align: center;
			color: teal;
		}	
	}
}
section:first-of-type{
	width: 75%;
	div{
		position: relative;
		h2{
			background-color: lightgreen;
			text-align: center;
			color: black;
			width: 200px;
		}
	}
}
section:nth-of-type(2){
	div{
		width: 33%;
		float: left;
		h2{
			font-size: 20px;
			width: 200px;
			text-align: center;
		}
	}

}
section:last-of-type{
	h2{
		width: 200px;
	}
	div{
		width: 50%;
		float: left;
		height: 100%;
		div:first-of-type, div:nth-of-type(2){
			margin: 10px;
			h2{
				width: 160px;
				margin: 0;
			}
		}
		div:last-of-type{
			margin-left: 0;
		}
	
	}
}
#aa{
	h2{
	background-color: gray;
	}
	ul{
	padding-left: 0;
	}
}
#awards{
	h2{
		background-color: lightgreen;
		color: black;
	}
}