@import "reset";

body{
	background-color: grey;

}
#friends{
	width: 250px;
	
	ul{
		margin: 0;
		padding: 0;
	}
	li::before,
	li::after{
		@extend %clearfix;
	}

	img{
		width: 50px;
		float: left;
	}
	li div:first-of-type{
		width: 150px;
		float: left;
	}
	li div:last-of-type{
		width: 50px;
		float: left;
	}
}
		
