//$color2: hsla(200, 30%, 75%, 1);
//$size: 30%;

@import "reset";
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

$base-color: hsla(150, 20%, 25%, 1);
$light-base: lighten($base-color, 50%);
$dark-base: darken($base-color, 50%);
$white-base: lighten(grayscale($base-color), 70%);
$black-base: darken(grayscale($base-color), 30%);
$comp_base: complement($base-color);

%bordering{
	border-width: 2px;
	border-style: solid;
	border-color: $black-base;
}

@mixin border-mixin($width, $style, $black){
	border-width: $width;
	border-style: $style;
	border-color: $black;
}
@mixin gradient($base1, $base2){
	background-image: linear-gradient($base1, $base2);
}

html, body{
	height: 100%;
	margin: 0;
}
body{
	//background-color: mix($color1, $color2, 80%);
	//color: invert(mix($color1, $color2, 80%));
	
}
#friends{
	width: 254px;
	float: left;
	//background-color: saturate($color2, 40%);

	ul{
		margin: 0;
		padding: 0;
		list-style: none;

	}
	li{
		@extend %bordering;
	//	@include border-mixin(5px, dashed, green);
		padding: 3px;
		//background-image: linear-gradient($light-base, $dark-base);
		color: $white-base;
		@include gradient($light-base, $dark-base );
		
		&.active{
			//background-image: linear-gradient($base-color, $light-base);
			@include gradient($base-color, $light-base );
		}
	}

	li::before,
	li::after{
		@extend %clearfix;
	}

	img{
		width: 50px;
		float: left;
		@extend %bordering;
		//@include border-mixin(10px, dotted, red);
		border-radius: 50%;
		margin-right: 5px;
	}
	h2, h3{
		margin: 0;
		font-size: 16px;
		font-family: sans-serif;
	}
	h2{
		font-weight: 900;
	}
	h3{
		font-weight: 100;
		font-style: italic;
	}
	
	li div:first-of-type{
		width: 150px;
		float: left;
	}
	li div:last-of-type{
		float: right;
	}
	button{
		@extend %bordering;
		//@include border-mixin(5px, double, orange);
		background-color: $light-base;
		margin: 5px;
		border-radius: 4px;
		transition: 1s, background-color 1s, transform 1s;
	}
	button:hover{
		background-color:  $dark-base;
		transform: skew(45deg), ;

	}

	}

#message{
	height: 100%;
	//@extend %message;
}


main{
	width: 80%;
	margin: 0 auto;
	height: 100%;

	#messagebox{
		height: 40px;
		width: 100%;
		//background-color: saturate($color2, $size);
	}
}
/*lor1: hsla(590, 50%, 50%, 1);
$color2: lighten($color1, 20%);
$color3: darken($color1, 50%);

%lettering{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: $color2; 
	font-style: Courier New, Courier, monospace;
}
#test{
	@extend %lettering;
	width: 100px;
	height: 50px;
	margin: 0, auto;
	background-image: linear-gradient($color1, $color3);
	border-width: 3px;
	border-radius: 20px;
	transition:width 2s, height 2s, background-color 2s, transform 2s;
}
#test:hover{
	width:100px;
    height:50px;
    transform:rotate(360deg);
    color: white;
}
*/

