*,*::before,*::after{
	box-sizing: border-box;
}
$green: #1BBE68;
$white: hsla(0,0%,91%,1);
$black: hsla(0,0%,8%,1);
$red: hsla(358,79%,45%,1);

%clearfix{
	content: "";
	display: block;
	clear: both;
	}

body{
	margin: 0;
	font-family: sans-serif;
	width: 100%}
section{
	padding: 100px

}
h3{
	font-size: 30px;
	font-weight: 100;
	margin: 0;
}
#hero{
	background-image: url("../img/page-1_img01.jpg");
	background-size: cover;
	color: $white;
	margin: 0;
	
	img{
		float: left;
	}

	#hurrta{
		float: left;
		
	}
	h1,h2{
		margin: 0;


	}
	
	header{
		&::before,&::after{
			@extend %clearfix;
		}
		background-color: transparentize($black, .15);
		font-size: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
		color: #E8E8E8;
		
		div{
			&::before,&::after{
				@extend %clearfix;
			}
			margin: 0 auto;
			width: 300px;
			img{
				float: left;
				display: inline-block;
			}
			h2{
				float: left;
				padding-left: 5px;
				margin-top: 5px;
			}
			strong{
			color: white;
			}
		}	
	}
	
	#content{
		&:before,&:after{
				@extend %clearfix;
			}
			padding: 45px;
		div{
			&:before,&:after{
				@extend %clearfix;
			}
			img{
				float: left;
				width: 30%;
			}
			div{
				float: left;
				
				h1{
					font-size: 70px;
					padding: 0;
					margin: 0;
					
				}
				h2{
				
				}
			}
		}
		ul{
			float: left;
			width: 100%;
		}
		button{
			background-color:$red;
			border: none;
			text-align: center;
			float: right;
			padding: 20px;
			width: 300px;
			height: 80px;
			color: white;
			font-size: 35px;
			transition: all 500ms ease-in-out;
			


			&:hover{
				background-color: green;
				transform: scale(1.2) rotate(180deg);
				border-radius: 50%;	
			}

		}
	}	
}
#product{
	padding: 200px;
	&::before,&::after{
		@extend %clearfix;
	}
	background-color: $green;
	text-align: center;
	color: white;
	
	img, div {
		width: 50%;
		float: left;
	}
	div{
		padding-left: 10px;
	}
}
#about{
	&::before,&::after{
		@extend %clearfix;
	}
	text-align: center;
		
	img, div {
		width: 50%;
		float: left;
	}
	div{
		padding-right: 10px;
	}

}
#design{
	background-image: url("../img/page-1_slide02.jpg");
	background-size: cover;
	div{
		background-color: transparentize($white, .5);
		padding: 0 10px;
		h3{
			margin: 
		}
	}
}
#faq{
	&::before,&::after{
		@extend %clearfix;}
	ul{
		&::before,&::after{
		@extend %clearfix;}
		li{
		width: 50%;
		float: left;
		color: $green;
		}
	}
}
#gallery{
	&::before,&::after{
		@extend %clearfix;
		}

	
	.group{
		&::before,&::after{
		@extend %clearfix;}
		width: 25%;
		float: left;
		div{
			float: left;
			overflow: hidden;
			background-color: black;

			
		}	
			&:hover:before{
				content: "";
				display: block;
				width: 50px;
				height: 50px;
				
				background-color: $green;
				border-radius: 50%;
				position: absolute;
				z-index: 100;
				pointer-events: none;
				margin-top: -25px;
				margin-left:-25px;
				top: 50%;
				left: 50%;
			}
		
		/*
		a:before{
			content: "";
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: $green;
			position: absolute;
		}*/
		img{
			float: left;
			transition: all 200ms ease-in-out;
			
			&:hover{
		transform: scale(1.50);
		opacity: .5;
		
				}
			
		}	
	}	

	a{
		&::before,&::after{
		@extend %clearfix;}
	}
	
	.group:nth-child(1){
		div{
			width: 50%;
			}
	}
	
	.group:nth-child(3){
		
		div{
		width: 50%;
		}
		div:first-of-type{
			width: 100%;
		}
	}
	
	.group:nth-child(4){
		div{
			width: 50%;
		}
		div:last-of-type {
			width: 100%;

		}
	}
}
	
footer{
	background-color: $black;
	margin: 0;
	color: white;
	text-align: center;
	padding: 40px;
	
	h3, address, div{
	margin: 20px;
	}
	div:first-of-type{
		a{
			color: $green;
		}
	}
	div:last-of-type{
		a{
			color:inherit;
		}
	}
}
@media screen and (max-width: 768px){
	#gallery .group{
		width: 50%;
	}
}
@media screen and (max-width: 450px){
	#faq{
		ul{
			width: 100%;
		}
	}	
	#gallery{	
		.group{
		width: 100%;
		}
	}
}
